// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contents {
  padding-top: 50px;
  background-image: image-url("material/sagyo.png");
  background-color:rgba(255,255,255,0.7);
  background-blend-mode:lighten;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.content {
  background-color: #ffffff;
  height: 100vh;
  max-height: 800px;
  width: 600px;
  margin: 0 auto;
}

.content__title {
  padding-top: 20px;
  font-size: 30px;
  text-align: center;
  display: block;
}

.content__body {
  display: flex;
  padding-top: 10px;
  justify-content: center;
  margin: 20px 0 0 0 ;
}

.content__left {
  padding: 1px 3px;
}

.content__left--logo {
  width: 65px;
  height: 65px;
  border: solid 1px black;
  border-radius: 5%;
}

.content__right {
  border-bottom: 1px solid grey;
}

.content__right__top {
  font-size: 18px;
  color: rgb(155, 150, 150);
}

.content__right__writer {
  color: rgb(155, 150, 150);
}

.content__right__link {
  color: black;
}

.content__right__bottom {
margin: 20px 0 0 0;
}

.content__return {
  color: black;
  text-align: center;
  margin: 8px;
}

.content__return__btn {
  color: black;
}

.content__footer {
  background-color: rgb(35, 143, 201);
  text-align: center;
  margin-top: 20px;
  height: 29px;
  line-height: 29px;
  padding: 5px;
}

/* エラー */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}


