
// ログインと新規のCSS

h2 {
  text-align: center;
  font-size: 30px;
}

#new_user {
  width: 400px;
  height: 300px;
  margin: 70px auto;
  border-radius: 50px;
  background-color:#3a7bd5;
  font-size: 18px;
}

.field {
  text-align: center;
  height: 50px;
  padding: 10px 0;
  color: #fff;
}

#user_email,#user_password ,#user_name,#user_password_confirmation {
  width: 300px;
  border-radius: 100px;
  font-size: 100%;
}

.actions {
  text-align: center;
}

.action__btn {
  border-radius : 5%;
  font-size : 15pt;
  text-align : center;
  cursor : pointer;
  padding : 12px 12px;
  background :#3a7bd5;
  color: #ffffff;
  line-height : 1em;
  transition : .3s;
  box-shadow : 6px 6px 3px #666666;
  border : 2px solid rgba(35, 150, 243, 0.93);
}

.action__btn:hover {
  box-shadow : none;
  color : #3a7bd5;
  background : #ffffff;
}
